<!-- Cookie Cart Possible Solution: 1 save shopping contents in string, separate by "|" in cookie. 2 parse cookie in this page and trans it into forms to be submitted -->

<% include ../partials/header %>
<div class="container-fluid">
	<div class="row">
		<h1 style="text-align: center">My Orders Today</h1>
		<div style="width: 30%; margin: 30px auto;">

			<table id="table" class="table">
				<thead>
					<tr>
						<th>Order</th>
						<th>Dish</th>
						<th>Amount</th>
						<th>Price($)</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>Subtotal: </th>
						<th></th>
						<th></th>
						<th><span id="subTotal"><%= extra.subtotal %></span></th>
					</tr>
					<tr>
						<th>DailyRatio:</th>
						<th></th>
						<th></th>
						<th><span id="dailyRatioDisplay" style="display: none;">x<%= extra.dailyRatio %></span></th>
					</tr>
					<tr>
						<th>Total:</th>
						<th></th>
						<th></th>
						<th><span id="totalDisplay" style="display: none;"><%= extra.total %></span></th>
					</tr>
				</tfoot>

				<tbody>
				<% var i = 1; %>
				<% orders.forEach(function(order){ %>
					<tr>
						<td><%= i++ %></td>
						<td><%= order.foods[0].name %></td>
						<td><%= order.foods[0].amount %></td>
						<td><%= order.foods[0].totalPrice %></td>
						<td>
							<form id="delete-form" action="/orders/<%= order._id %>?_method=DELETE" method="POST" style="display: inline;">
			            		<button class="delete btn btn-xs btn-danger" style="display: none;" onclick="toggle()"><i class="glyphicon glyphicon-trash"></i></button>
			          		</form>
						</td>
					</tr>
				<% }) %>
				</tbody>
			</table>
			<p id="errorMessage" style="color: red; text-align: center;"></p>
			<div id="modify">
				<p><a href="/orders-today"><button class="btn btn-primary pull-left">Add Dish</button></a><button style="float: right;" class="btn btn-warning pull-right" onclick="toggle()">Edit</button></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	
 	window.onload = function calcTotal(){
// 	var table = document.getElementById("table");
// 	var sum = 0;
// 	for(var i = 1; i < table.rows.length - 1; i++){
// 		sum += Number(table.rows[i].cells[3].innerHTML);
// 	}
// 	var result = document.getElementById("subtotal");
// 	result.innerHTML = sum.toFixed(2);
 	checkOrderTime();
 	var ratio = document.getElementById("dailyRatioDisplay");
	var total = document.getElementById("totalDisplay");
	if(checkTime()) {
		ratio.style.display = "inline";
		total.style.display = "inline";
	}

 }



</script>


<% include ../partials/footer %>