<% include ../partials/header %>

	<div class="row">
		<h1 style="text-align: center">Edit <%= restaurant.name %></h1>
		<h5 style="text-align: center;"><p><strong>Current status: </strong>
			<% if(restaurant.isActive){ %>
				<span style="color: green;">True</span>
			<% } else{ %>
				<span style="color: red;">False</span>
			<% } %>
		</p></h5>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" id="restaurantEdit">
				<div class="form-group">
					<input class="form-control" type="text" name="name" value="<%= restaurant.name %>">
				</div>
<!-- 				<div class="form-group">
					<label for="location">Location</label>
					<input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input type="file" id="image" name="image" accept="image/*" required>
				</div> -->
				<div class="form-group">
					<label>Change Active Status:</label>
					<select class="form-control" form="restaurantEdit" name="isActive">
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
				<div class="form-group">
					<label>Delivery Fee:</label>
					<input class="form-control" type="text" name="delivery_fee" value="<%= restaurant.delivery_fee %>">
				</div>
				<div class="form-group">
					<label>Image:</label>
					<input class="form-control" type="text" name="image" value="<%= restaurant.image %>">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="description" rows="10" clos="70"><%= restaurant.description %></textarea> 
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>
				</div>
			</form>
				<a href="/restaurants/<%= restaurant._id %>">Go Back</a>
		</div>
	</div>

<% include ../partials/footer %>